body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin-heading,
.checkbox {
    margin-bottom: 10px;
}
.checkbox {
    font-weight: normal;
}
.form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-control:focus {
    z-index: 2;
}

.footer {
    border-top: none;
    height: 100px;
    margin: auto;
    width: 400px;
    position:fixed;
    bottom:0;
    left:50%;
}

.ui-accordion-header:hover {
    cursor: hand;
    background-color: #bedeff;
}

#new-widget-button {
    padding-top: 25px;
}

#dialog-message {
    display: none;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-widget-header {
    color: rgb(51, 51, 51);
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    background: rgb(233, 233, 233);
}

.ui-widget-content {
  color: rgb(51, 51, 51);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  background: rgb(255, 255, 255);
}

.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}